.rodalFollower .rodal-dialog{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 500px;
    max-height: 500px;
    width: 80% !important;
    height: 80% !important;
    background-color: var(--post-bg);
    color: var(--text-color)
}
.followersTitle{
    font-size: 27px;
    margin-bottom: 15px;
}
.followersContainer{
    width: 100%;
    overflow-y: auto;
    gap: 15px;
    display: flex;
    flex-direction: column;
}
.follower{
    background-color: var(--text-color);
    color: var(--bg-color);
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 2px;
    align-items: center;
    justify-content: space-between;
    padding: 15px 8px;
    box-sizing: border-box;
}
.follower__user-data{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}
.follower__user-data img{
    border-radius: 50%;
    height: 50px;
    width: 50px;
}
.follower__user-data p{
    margin: 0;
    word-break: break-word;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.1rem;
}
.follower-box__button{
    padding: 5px 4px;
    background-color: var(--bg-color);
    color: var(--text-color);
    transition: transform 0.3s;
}
.follower-box__button:hover{
    border-color: transparent;
}
.follower-box__button:hover:not(.follower-box__button:disabled){
    transition: transform 0.2s;
    transform: scale(1.1);
}
.follower-search-input-container{
    width: 100%;
    position: relative;
    background-color: red;
    margin-bottom: 15px;
}
.follower-search-input-container input{
    width: 100%;
    height: 28px;
    padding: 15px;
    padding-left: 35px;
    box-sizing: border-box;
    outline: none;
    font-size: 20px;
}
.follower-input-search, .follower-input-clear-btn{
    position: absolute;
    background-color: transparent;
    display: grid;
    top: 50%;
    transform: translateY(-50%);
    place-content: center;
    padding: 0;
    color: black;
}
.follower-input-search{
    left: 0;
    margin-left: 4px;
}
.follower-input-clear-btn{
    right: 0;
    margin-right: 4px;
}
.follower-searched-name{
    margin-top: 0;
    align-self: flex-start;
    text-align: start;
}
.follower-input-clear-btn:hover{
    border-color: transparent;
}
